{% extends "base.html" %}
{% block title %}
  <title>发布消息-escape(handler.settings["sitename"])</title>
{% end %}
{% block body %}
<form action="{{ request.path }}" method="post" class="pure-form">
	<fieldset class='pure-group '>
		<legend>发布新消息</legend>
    <input name="title" type="title">
    <textarea name="content" type="text" rows="10" placeholder="支持markdown语法"></textarea>
    <button type="submit" class="pure-button pure-button-primary">发布</button>
  {{ xsrf_form_html() }}
  </fieldset>
</form>
{% end %}

{% block bottom %}
{% end %}