{% extends "base.html" %}
<title>{% block title %}发布代码——Code Share{% end %}</title>
{% block body %}
<form action="{{ request.path }}" method="post" class="compose">
	<fieldset>
		<legend>发布新消息</legend>
    <label for="title">标题</label>
    <input id="email" type="email" placeholder="Email">
    <label for="pswd">密码</label>
    <input id="pswd" type="password" placeholder="Password">
    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
  {{ xsrf_form_html() }}
  </fieldset>
</form>
{% end %}

{% block bottom %}
{% end %}