{% extends "base.html" %}

{% block body %}
	<section class="form nes-container with-title">
    <h2 class="title">Select/Delete KVDB</h2>
    <form action="/dashboard" method="post" class="pure-form pure-form-stacked">
      <fieldset>
      <div class="nes-field is-inline">
        <label for="inline_field">Key prefix</label>
        <input type="text" id="inline_field" class="nes-input is-success" placeholder="NES.css" name='prefix'>
      </div>

      <label>
        <input type="checkbox" class="nes-checkbox" checked="checked" name='check'>
        <span>Delete</span>
      </label>

      <button type="submit" class="nes-btn is-primary">Submit</button>
      {{ xsrf_form_html() }}
      </fieldset>
    </form>
	</section>

<p>首页消息前缀 msg_  ; 用户数据 'user_%s'%email_adr ；爬虫 spider_title ；计数 count_for_msg count_for_spider</p>

  {% if tip %}
    <div class="nes-container is-rounded">
      <p>{{tip}}</p>
    </div>
  {% end %}
{% end %}

{% block bottom %}
{% end %}