{% extends "base.html" %}
  <title>{% block title %}{{ entry[1] }}——{{ escape(handler.settings["sitename"]) }}{% end %}</title>
{% block head %}
  <link rel="stylesheet" href="{{ static_url('prettify.css') }}" type="text/css" />
  <meta name="description" content="{{ escape(entry[2][0:128]) }}">
{% end %}

{% block body %}
<article class="entry">
    <h2>{{ entry[1] }}</h2>
    <hr>
    <p>{{ entry[2] }}<p>
    <small>{{ entry[3] }}</small>
    <hr>
    {% if current_user %}
    <a class="pure-button button-secondary" href="/admin/update/{{ entry[0] }}">修改</a>
    <a class="pure-button button-warning" href="/admin/delete/{{ entry[0] }}">删除</a>
    {% end %}
</article>
{% end %}

{% block bottom %}
<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ static_url('prettify.js')}}"></script>
<script type="text/javascript">$(document).ready(function(){prettyPrint();})</script>
<script src="{{static_url("bootstrap-modal.js")}}"> </script>
{% end %}