{% extends "base.html" %}
  <title>{% block title %}{{ entry[1] }}——{{ escape(handler.settings["sitename"]) }}{% end %}</title>
{% block head %}
  <meta name="description" content="{{ escape(entry[2][0:128]) }}">
  <style>	.markdown-body {box-sizing: border-box;min-width: 200px;max-width: 980px;margin: 0 auto;padding: 45px;}@media (max-width: 767px) {.markdown-body {padding: 15px;}}</style>
{% end %}

{% block body %}
<article class="markdown-body">
    <h2>{{ entry[1] }}</h2>
    <p>{{ entry[2] }}<p>
    <small>{{ entry[3] }}</small>
</article>
{% if current_user %}
<a class="pure-button button-secondary" href="/code/update/{{ entry[0] }}">修改</a>
<a class="pure-button button-warning" href="/code/delete/{{ entry[0] }}">删除</a>
{% end %}
{% end %}
{% block bottom %}
<link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
{% end %}