{% extends "base.html" %}
<title>{% block title %}登录{% end %}</title>
{% block body %}
<form action="/auth/login" method="post" class="pure-form pure-form-aligned">
  <fieldset>
		{{ msg if msg else ' '}}
		<legend>登录</legend>
    <label for="email">登录</label>
    <input id="email" type="email" placeholder="Email">
    <label for="pswd">登录</label>
    <input id="pswd" type="password" placeholder="Password">
    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
  {{ xsrf_form_html() }}
  </fieldset>
</form>
{% end %}

{% block bottom %}
{% end %}