{% extends "base.html" %}
{% block title %}<title>登录-</title>{% end %}
{% block body %}
<form action="/auth/login" method="post" class="pure-form pure-form-stacked">
  <fieldset>
		<legend>登录</legend>
    <label for="email">登录</label>
    <input id="email" type="email" name='email'placeholder="Email">
    <label for="pswd">密码</label>
    <input id="pswd" type="password" name='password'placeholder="Password">
    <button type="submit" class="pure-button pure-button-primary">Sign in</button>
  {{ xsrf_form_html() }}
  </fieldset>
</form>
{% end %}

{% block bottom %}
{% end %}
