{% extends "base.html" %}
{% block body %}

<section class="nes-container with-title">
  <h2 class="title">Add Spider</h2>
  <form action="{{ request.path }}" method="post">
	<fieldset>
  <div class="nes-field">
    <input type="text" id="name_field" class="nes-input" name='title' placeholder="Title">
  </div>
  <div class="nes-field">
    <input type="text" id="name_field" class="nes-input" name='url' placeholder="Url">
  </div>
  <div class="nes-field">
    <input type="text" id="name_field" class="nes-input" name='header' placeholder="Header">
  </div>
  <div class="nes-field">
    <input type="text" id="name_field" class="nes-input" name='cookie' placeholder="Cookie">
  </div>
  <button type="submit" class="nes-btn is-success">Add Spider</button>
    {{ xsrf_form_html() }}
  </fieldset>
</form>
</section>
{% end %}

{% block bottom %}
{% end %}